/* Importando a fonte 'Inter' do Google Fonts com diferentes pesos (100 a 900) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Definindo estilos globais para o corpo da página */
body {
    font-family: 'Inter', sans-serif;
    /* Aplicando a fonte 'Inter' para o corpo da página */
    margin: 0;
    /* Removendo margens padrão do corpo da página */
    padding: 0;
    /* Removendo preenchimento padrão do corpo da página */
    color: #023047;
    /* Definindo a cor do texto */
}

/* Estilos para a classe 'page' que envolve todo o conteúdo da página */
.page {
    display: flex;
    /* Tornando o container flexível */
    flex-direction: column;
    /* Organizando os elementos internos em coluna */
    align-items: center;
    /* Centralizando os itens no eixo transversal */
    align-content: center;
    justify-content: center;
    /* Centralizando os itens no eixo principal */
    width: 100%;
    /* Utilizando 100% da largura disponível */
    height: 100vh;
    /* Utilizando 100% da altura da viewport */
    background-color: #418cb8;
    /* Cor de fundo da página */
}

/* Estilos para a classe 'formLogin', que representa o formulário de login */
.formLogin {
    display: flex;
    /* Tornando o container do formulário flexível */
    flex-direction: column;
    /* Organizando os elementos internos em coluna */
    background-color: #fff;
    /* Cor de fundo do formulário */
    border-radius: 7px;
    /* Borda arredondada */
    padding: 40px;
    /* Preenchimento interno do formulário */
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    /* Sombra para efeito de elevação */
    gap: 5px;
    /* Espaçamento entre os elementos filhos */
}

/* Estilos para a classe 'areaLogin', que poderia ser uma área de imagem (não está presente no HTML fornecido) */
.areaLogin img {
    width: 420px;
    /* Largura da imagem */
}

/* Estilos para o título (<h1>) dentro do formulário */
.formLogin h1 {
    padding: 0;
    /* Removendo preenchimento do topo do título */
    margin: 0;
    /* Removendo margem do título */
    font-weight: 500;
    /* Peso da fonte do título */
    font-size: 2.3em;
    /* Tamanho da fonte do título */
}

/* Estilos para o parágrafo (<p>) dentro do formulário */
.formLogin p {
    display: inline-block;
    /* Tornando o parágrafo um bloco em linha */
    font-size: 14px;
    /* Tamanho da fonte do parágrafo */
    color: #666;
    /* Cor do texto do parágrafo */
    margin-bottom: 25px;
    /* Margem inferior do parágrafo */
}

/* Estilos para os campos de entrada (<input>) dentro do formulário */
.formLogin input {
    padding: 15px;
    /* Preenchimento interno do campo de entrada */
    font-size: 14px;
    /* Tamanho da fonte do campo de entrada */
    border: 1px solid #ccc;
    /* Borda do campo de entrada */
    margin-bottom: 20px;
    /* Margem inferior do campo de entrada */
    margin-top: 5px;
    /* Margem superior do campo de entrada */
    border-radius: 4px;
    /* Borda arredondada do campo de entrada */
    transition: all linear 160ms;
    /* Transição suave para propriedades alteradas */
    outline: none;
    /* Removendo a borda ao receber foco */
}

/* Estilos para o campo de entrada quando está em foco */
.formLogin input:focus {
    border: 1px solid #f72585;
    /* Borda do campo de entrada ao receber foco */
}

/* Estilos para as etiquetas (<label>) dentro do formulário */
.formLogin label {
    font-size: 14px;
    /* Tamanho da fonte da etiqueta */
    font-weight: 600;
    /* Peso da fonte da etiqueta */
}

/* Estilos para os links (<a>) dentro do formulário */
.formLogin a {
    display: inline-block;
    /* Tornando o link um bloco em linha */
    margin-bottom: 20px;
    /* Margem inferior do link */
    font-size: 13px;
    /* Tamanho da fonte do link */
    color: #555;
    /* Cor do texto do link */
    transition: all linear 160ms;
    /* Transição suave para propriedades alteradas */
}

/* Estilos para o link quando está em foco */
.formLogin a:hover {
    color: #f72585;
    /* Cor do texto do link ao passar o mouse sobre ele */
}

/* Estilos para o botão com a classe 'btn' */
.btn {
    background-color: #f72585;
    /* Cor de fundo do botão */
    color: #fff;
    /* Cor do texto do botão */
    font-size: 14px;
    /* Tamanho da fonte do botão */
    font-weight: 600;
    /* Peso da fonte do botão */
    border: none !important;
    /* Removendo a borda do botão */
    transition: all linear 160ms;
    /* Transição suave para propriedades alteradas */
    cursor: pointer;
    /* Alterando o cursor ao pairar sobre o botão */
    margin: 0 !important;
    /* Removendo margens do botão */
}

/* Estilos para o botão quando está em foco ou hover */
.btn:hover {
    transform: scale(1.05);
    /* Efeito de escala ao pairar sobre o botão */
    background-color: #ff0676;
    /* Cor de fundo do botão ao pairar sobre ele */
}